<div class="col-12 text-center col-md-6 order-md-3 text-md-start col-lg-3 order-lg-1">
    <a href="{{ path('sylius_shop_homepage') }}" class="d-inline-block mb-4" aria-label="{{ 'sylius.ui.sylius_logo_aria'|trans }}">
        <div style="width: 10rem">
            {% include '@SyliusShop/shared/logo.html.twig'%}
        </div>
    </a>
</div>
